.header__link {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #2f80ed;
  transition: .8s ease;
  text-decoration: none;
}

.header__link:hover {
  opacity: .6;
}
