.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}
