.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 16px;
}
